{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2>Honeypots for IoT</h2>
<div class="row">
{% for about in abouts %}  <!-- For loop to display Honeypots-->
    <div class="col-md-4">
        <div class="card text-center">
            <img class="card-img-top" style="height: 10rem;" src="{% static about.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ about.name }}</h5>
                <a href="{% url 'about_detail' about.pk %} " 
                   class="btn btn-outline-success">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}